doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    
  header
    h1 CashCash
  body
    br
    block content
    
  footer 
    //img(src="images/ass.gif" alt="momdoing" style="height:70px;width:100px;")
